/* CSS code from https://developer.mozilla.org/en-US/docs/Learn/Forms/Your_first_form */

label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* To give the same size to all text fields */
  width: 300px;
  box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
}

textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5em;
}

.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
}

form {
  position: fixed;
  top: 5%;
  left: 40%;
}

.content {
  position: fixed;
  top: 30%;
  left: 10%;
  display: inline-block;
}

.values {
  /* bring your own prefixes */
  padding-bottom: 20px;
}


div.centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  padding: 1em;
  border: 1px solid rgb(12, 12, 12);
  border-radius: 1em;
  height: 420px;
  width: 540px;
}

div.centeredall {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

a {
  padding: 10px;
  font-size: 1.75rem;
}

div.rightnav:hover {
  background: gray;
}

div.leftnav:hover {
  background: gray;
}

div.rightnav {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 150px;
  width: 250px;
  line-height: 100px;
  text-align: center;
  background: linear-gradient(rgb(190, 41, 3), rgb(222, 240, 64));
  border-bottom-left-radius: 100%;
  border: 2px solid;
  font-size: 1.5rem;
}

div.leftnav {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 150px;
  width: 250px;
  line-height: 100px;
  text-align: center;
  background: linear-gradient(rgb(190, 41, 3), rgb(222, 240, 64));
  border-bottom-right-radius: 100%;
  border: 2px solid;
  font-size: 1.5rem;
}

.arrow {
  border: solid black;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 6px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  top: 90%;
  left: 59%;
  position: absolute;
  background-color: inherit;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  top: 90%;
  left: 40%;
  position: absolute;
  background-color: inherit;
}

.down {
  top: 94%;
  left: 48.5%;
  position: absolute;
}

.arrow:hover {
  cursor: pointer;
}

.bar {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, 0%);
}