{% extends 'base.html' %}

{% block head %}
<title>Entry Records</title>
<style>
    * {
        box-sizing: border-box;
    }
</style>
{% endblock %}

{% block body %}   
    <div class="content"> 
        {% if list %}
        <div class="centeredleft" id="allgreetings">
        {% for row in list %}
            <div id="greeting-{{row[0]}}">
            <p>ID: {{row[0]}} | Temp: {{row[1]}} | Humid: {{row[2]}} | Pres: {{row[3]}} | Date: {{row[4]}}</p>
            </div>
        {% endfor %}
        </div>
        
        {% else %}
        <p style="color: black; font-weight: 900;">There are no measurements</p>
        {% endif %}
    </div>
{% endblock %}