{% extends 'base.html' %}

{% block head %}
<title>Entry Records</title>
<style>
    * {
        box-sizing: border-box;
    }
</style>
{% endblock %}

{% block body %}   
<div class="leftnav">
    <a href="/VM21/opg4a/measurements" style="margin-right: 35px">Latest measures</a>
</div>
    <div class="content"> 
        {% if list %}
        <div class="centeredall" id="allmeasurements">
        {% for row in list %}
            <div id="measurement-{{row[0]}}">
            <p>ID: {{row[0]}} | Temp: {{row[1]}} | Humid: {{row[2]}} | Pres: {{row[3]}} | Date: {{row[4]}}</p>
            </div>
        {% endfor %}
        </div>
        
        {% else %}
        <div class ="centeredall">
        <p style="color: black; font-weight: 900;">No further measurements registered</p>
        </div>
        {% endif %}
    </div>
    <p class="bar" style="top: 85%; font-weight: 600;">Input the desired page and click submit</p>
    <input class="bar" type="text" id="number" value=""/>
    <button class="down" value="Submit" onclick="submit()">Submit</button>
    
{% endblock %}